body{
    font-family: 'Quicksand', sans-serif;
    padding:15px;
}

.user-name{
    float:right;
}

.user{
    float: left;
}

.user img{
    width: 32px;
    float: left;
    margin-right: 10px;
}

.sur-header{
    overflow: hidden;
    margin-bottom: 20px;
}

.logout{
    float: right;
}

.side-pane{
  float: left;
  width: 20%;
  margin-right: 15px;
}

.main-pane{
  float: left;
  width: 78%;
}

.side-pane .home{
  text-align: center;
}

.main-pane .task-creator input[name='task']{
  padding: 15px;
  font-size: 24px;
  color: #777;
  border: 1px solid #eee;
  width:80%;
}

.main-pane .tasks-list{
    list-style-type:none;
    color:#777;
    font-size: 18px;
}

.task-creator{
    margin-bottom:25px;
}

.task-creator .task-extra{
    float:right;
    width:13%;
    margin-top: -5px;
    position: relative;
    height:80px;
}

.task-creator .task-extra .extra{
    float: left;
    cursor:pointer;
}

.task-creator .task-extra i{
    font-size:2.1em;
    padding:5px;
}

.task-extra .extra-set{
    float:left;
}

.task-extra .icon-bolt{
    color:#eee;
}

.task-extra .level .icon-bolt{
    float:left;
    margin-right:5px;
    padding-top:0;
    padding-bottom: 0;
}

.task-creator .task-extra .icon-heart{
    font-size:18px;
    color:#eee;
}

.task-creator .likeness .icon-heart{
    float:left;
}

.task-creator .task-extra .icon-calendar{
    padding:0;
    color:#eee;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.task-creator .task-extra .icon-calendar.hover{
    color:black;
}

.task-extra .cursor.checked, .task-extra .cursor.hover{
    color:black;
}

.task-list {
  margin: 0;
  padding: 0;
}

/* Task list */
.task-list li {
  margin: 2px 0;
  padding: 0 5px;
  list-style-type: none;
  background: #eee;
  line-height: 30px;
  cursor: pointer;
}

.task-list li:hover, .task-list .done {
  background: #ccc;
}

.task-list .done {
  text-decoration: line-through;
}

.task-creator .likeness_tooltip,
.task-creator .difficulty_tooltip{
    font-size: 14px;
    display:block;
    width:100px;
    float:left;
    margin-left: 5px;
}

.task-creator .likeness_tooltip{
    margin-top: -20px;
}

.task-creator .difficulty_tooltip{
    clear:left;
}