html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.side-pane{
  float: left;
  width: 20%;
  margin-right: 15px;
}

.main-pane{
  float: left;
  width: 78%;
}

.side-pane .home{
  text-align: center;
  margin-bottom: 15px;
}