.menu{
	overflow:hidden;
	padding:0 10px;
	padding-left:0;
	margin:5px;
	margin-right: 0;
	padding-right: 0;
}

.menu li{
	float:left;
	background:rgba(255, 255, 255, 0.5);
	/*border-right:1px solid #e6f1f7;*/
	height:51px;
	margin-right:5px;
	text-transform: uppercase;
}

.menu a{
	display: block;
	padding: 10px 10px 10px 10px;
	height:100%;
	line-height: 30px;
}

.menu a.current{
	/*padding: 10px 30px 10px 30px;*/
}

.menu.level2{
	margin:0;
	height:60px;
	padding-left:25px;
	background:rgba(255, 255, 255, 0.5);
}

.menu.level2 a{
	line-height:39px;
	padding: 10px 5px 10px 5px;
}

.menu.level2 li{
	margin-right: 0;
	border-right: 1px solid white;
	height:100%;
	background: none;
}

.menu.level3{
	margin-right:25px;
}

.menu.level3 li{
	height:30px;
	background: none;
	margin:0 5px;
}

.menu.level3 li.current,
.menu.level3 li:hover{
	border:1px solid black;
}

.menu.level3 a{
	padding:5px;
	line-height:20px;
	color:black;
}

.menu.level3 a:hover{
	color:black;
}

.menu.level3 .current .orderAsc .asc,
.menu.level3 .current:hover .orderAsc .desc{
	display:inline;
}

.menu.level3 .current:hover .orderAsc .asc,
.menu.level3 .current .orderAsc .desc{
	display:none;
}

.menu.level3 .current .orderDesc .desc,
.menu.level3 .current:hover .orderDesc .asc{
	display:inline;
}

.menu.level3 .current:hover .orderDesc .desc,
.menu.level3 .current .orderDesc .asc{
	display:none;
}

.menu.level3 a.orderDesc:hover .desc{
	display:inline;
}

.menu.level3 a.orderAsc:hover .asc{
	display:inline;
}

.menu.level3 .sort{
	display:none;
}

.menu .dashboard:hover,
.menu .dashboard.current{
	background:#E2FF47;
}

.menu .dashboard.current:hover{
	background:#D8F541;
}

.menu a:hover{
	text-decoration: none;
	color:#08B8CF;
}

.menu.level2 a{

}

.menu.level2 a span{
	background: rgb(153, 243, 255);
	color:#08B8CF;
	padding:5px;
}

.menu.level2 a:hover span{
	background: rgb(125, 228, 241);
}

.menu.level2 a.current span{
	background:#FF3878;
	color: #D0FA90;
}

.menu.level2 a.current:hover span{
	background: #EE336F;
	color: #D0FA90;
}

.subnavbar{
	overflow:hidden;
	/*background:rgba(255, 255, 255, 0.5);*/
}

