.navbar {
  margin-top: 10px;
}

.navbar-inner {
  border: 0;
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6f1f7;
}

.navbar .home {
  float: left;
}

.navbar .infos {
  float: right;
  font-size: 12px;
  line-height: 14px;
  margin: 5px;
}

.navbar .user {
  float: right;
}

.navbar .user img {
  width: 32px;
  float: left;
  margin: 5px;
}

.sur-header{
    overflow: hidden;
    margin-bottom: 20px;
    padding:10px;
}

.logout{
    float: left;
}

.tracker{
  float:left;
  margin-left: 170px;
  margin-top: 5px;
  font-size: 20px;
  color:#005580;
}

.tracker .count_done{
  padding:15px;
  background:#D3F777;
  border-radius:50px;
  margin-left: 15px;
  min-width: 20px;
display: inline-block;
text-align: center;
}

.tracker .points{
  padding:15px;
  background:#F7198C;
  border-radius:50px;
  margin-left: 15px;
  min-width: 20px;
  display: inline-block;
  text-align: center;
  color: white;
}

.tracker .caption{
  margin-left: 5px;
  display:none;
}

.tracker .count_done:hover .caption,
.tracker .points:hover .caption{
  display:inline-block;
}
