.tag-list {
  margin-bottom: 20px;
  font-size:18px;
  color:#411202;
}

.tag-list ul{
  margin: 0;
  padding: 0;
}

.tag-list .tag-item{
  list-style-type: none;
  background: white;
  margin-bottom: 2px;
  position: relative;
  border: 1px solid #eee;
  padding:0 25px;
  height:62px;
}

.tag-list .tag{
  position: relative;
  z-index: 1;
  padding: 10px;
  text-decoration: none;
  display: block;
  height:100%;
  line-height: 40px;
}

.tag-list  li:hover .progress{
  background: rgb(125, 228, 241);
}

.tag-list .progress{
  display:block;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  text-align: right;
  height:100%;
  border-radius: 0;
  background: rgb(153, 243, 255);
  box-shadow:none !important;
}

.tag-list li.current .progress{
  background:#DBF7C1;
}


