.list-tags li{
    list-style-type: none;
    background:#EEE;
    margin-bottom: 2px;
    position: relative;
}

.list-tags .tag{
    position: relative;
    z-index: 1;
    padding: 10px;
    text-decoration: none;
    display: block;

}

.list-tags .progress{
    display:block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    text-align: right;
    height:100%;
    border-radius: 0;
    background: #DCEDF2;
}

.list-tags .count{
    border-radius:50px;
    background: #36CAF7;
    color: white;
    font-weight:bold;
    padding: 5px;
}