.tag-list {
  margin-bottom: 20px;
}

.tag-list ul{
  margin: 0;
  padding: 0;
}

.tag-list li{
  list-style-type: none;
  background: white;
  margin-bottom: 2px;
  position: relative;
  border: 1px solid #eee;
}

.tag-list .tag{
  position: relative;
  z-index: 1;
  padding: 10px;
  text-decoration: none;
  display: block;

}

.tag-list .progress{
  display:block;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  text-align: right;
  height:100%;
  border-radius: 0;
  background: #DCEDF2;
}

.tag-list .count{
  border-radius:50px;
  background: #43ACCC;
  color: white;
  font-weight:bold;
  padding: 5px;
}

.tag-list li.current .progress{
  background:#DBF7C1;
}
