.task-list {
  margin: 20px 0;
  padding: 0;
  font-size: 30px;
}

.task-list li {
  margin: 2px 0;
  padding: 0 5px;
  list-style-type: none;
  line-height: 30px;
  cursor: pointer;
  font-family: 'Handlee', cursive;
  position:relative;
}

.task-list li:before{
  content:"-"; 
  position:relative; 
}

.task-list li a {
  color: #fff;
}

.tasks-lister{
  padding:0 100px;
}

.task-list li:hover, .task-list .done {

}

.task-list li .infos {
  float: right;
  font-size: 12px;
  font-weight: 300;
}

.task-list li .infos a {
  color: #222;
}

.task-list .done {
  /*text-decoration: line-through;*/
}

.task-list .strike{
  height:15px;
  display:block;
  position:absolute;
  top:5px;
  width:0;
  /*background:rgba(255, 100, 100, 0.3);*/
  background:rgba(125, 228, 241, 0.36);
  transition-property:width;
transition-duration:400ms;
/* Safari */
-webkit-transition-property:width;
-webkit-transition-duration:400ms;

}

.task-list .strike.on{
  width:100%;
    /*transition: width 400ms, height 400ms, transform 400ms;
 -webkit-transition: width 400ms, height 400ms, -webkit-transform 400ms;*/
}

.suggestion{
    border: 1px solid #eee;
    padding: 15px;
}

.suggestion .title{
    color:#777;
    font-size:18px;
}

.task-list .icon-heart {
  color: #cf0404;
}

.task-list .icon-bolt {
  color: #0e3c4f;
}

.level-0, .level-1 {
  opacity: 0.3;
}

.level-2 {
  opacity: 0.6;
}

.level-3 {
  opacity: 0.9;
}