.task-list {
  margin: 10px 0;
  padding: 0;
  font-size: 18px;
}

.task-list li {
  margin: 2px 0;
  padding: 0 5px;
  list-style-type: none;
  background: #3a87ad;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
}

.task-list li:hover, .task-list .done {
  background: #206587;
}

.task-list .done {
  color: #ccc;
  text-decoration: line-through;
}

.suggestion{
    border: 1px solid #eee;
    padding: 15px;
}

.suggestion .title{
    color:#777;
    font-size:18px;
}