.task-creator{
  margin-bottom: 15px;
}

.task-creator input[name='task'] {
  font-size: 24px;
  line-height: 45px;
  height: 45px;
  border-radius: 0;
  float: left;
}

.task-creator .task-extra {
  float: left;
  width: 100px;
  margin-top: -5px;
  position: relative;
  height:80px;
}

@media (max-width: 767px) {
  .task-creator .task-extra {
    float: none;
    margin: 0 auto;
  }
}

.task-creator .task-extra .cursor {
  float: left;
  font-size: 2.1em;
  padding: 5px;
}

.task-extra .icon-bolt, .task-extra .icon-heart{
  color: #eee;
}

.task-extra .level .icon-bolt{
  float: left;
  margin: 0;
  padding: 0 5px;
}

.task-creator .task-extra .icon-heart{
  font-size: 18px;
}

.task-creator.active .task-extra .cursor{
  cursor: pointer;
}

.task-creator.active .task-extra .cursor.checked, .task-creator.active .task-extra .cursor:hover{
  color: #206587;
}

.task-creator .input{
  height: 40px;
  margin: 30px 0;
  outline: none;
  font-family: 'Handlee', cursive;
  font-size: 30px;
  line-height: 45px;
  font-size: 24px;
}

.task-creator .input.typing{
  font-size: 30px
}

/*jaune rgb(238, 203, 20)*/
.task-creator .fa{
  font-size:18px;
}