.tasks-lister{
  font-family: 'Handlee', 'FontAwesome', cursive;
}

.task-list {
  margin: 20px 0;
  padding: 0;
  font-size: 30px;
}

.task-list li {
  margin: 2px 0;
  padding: 0 5px;
  list-style-type: none;
  line-height: 30px;
  cursor: text;
  font-family: 'Handlee', 'FontAwesome', cursive;
  position:relative;
  margin: 20px 0;
}

.task-list li:before{
  content:"-"; 
  position:relative; 
  float:left;
  margin-right:3px;
}

.task-list li a {
  color: #fff;
}

.tasks-lister{
  padding:0 100px;
}

.task-list .done {
  cursor:default;
}

.task-list li .infos {
  float: right;
  font-size: 12px;
  font-weight: 300;
}

.task-list li .infos a {
  color: #222;
}

.task-list .done {
  /*text-decoration: line-through;*/
}

.task-list .strike{
  height:15px;
  display:block;
  position:absolute;
  top:5px;
  width:0;
  /*background:rgba(255, 100, 100, 0.3);*/
  background:rgba(125, 228, 241, 0.36);
  transition-property:width;
transition-duration:400ms;
/* Safari */
-webkit-transition-property:width;
-webkit-transition-duration:400ms;

}

.task-list .strike.on{
  width:100%;
    /*transition: width 400ms, height 400ms, transform 400ms;
 -webkit-transition: width 400ms, height 400ms, -webkit-transform 400ms;*/
}

.suggestion{
    border: 1px solid #eee;
    padding: 15px;
}

.suggestion .title{
    color:#777;
    font-size:18px;
}

.task-list .icon-heart {
  color: #cf0404;
}

.task-list .icon-bolt {
  color: #0e3c4f;
}

.level-0, .level-1 {
  opacity: 0.3;
}

.level-2 {
  opacity: 0.6;
}

.level-3 {
  opacity: 0.9;
}

.task-list .task{
  outline: none;
  position: relative;
}

.task-list .editable{
  outline:none;
  display:inline-block;
  width:90%;
}

.task-list .editable[contenteditable=true]{

}

.task-list .cursor{
  color : #EBC997;
  font-size: 18px;
  cursor:default;
}

.task-list .controls{
  position: absolute;
  right: 10px;
  top: 5px;
  display:none;
  cursor:pointer;
}

.task-list .controls img{
  margin-top: -10px;
}

.task-list li:hover .controls{
  display:block;
}

.task-list .controls .uncheck{
  position: relative;
  z-index:2;
}

.tasks-lister .indications{
  text-align: center;
  font-size: 24px;
  margin:30px 0;
  visibility: hidden;
  padding:5px;
}

.tasks-lister .indications .key{
  padding:3px;
  border:1px solid black;
  border-radius: 5px;
}

.tasks-lister .indications .validation{
  font-family: 'Handlee', 'FontAwesome', cursive;
  font-size: 24px;
  padding:10px;
  background: rgb(217, 255, 121);
}

.tasks-lister .indications .validation:hover{
    background: rgb(206, 243, 114);
}

.tasks-lister .indications .fa-comment{
  margin-right:10px;
}

.tasks-lister .indications .response{
  display:none;
}

.tasks-lister .interaction{
  display: inline-block;
}