.task-creator{
  margin-bottom: 15px;
}

.task-creator input[name='task'] {
  font-size: 24px;
  line-height: 45px;
  height: 45px;
  border-radius: 0;
  float: left;
}

.task-creator .task-extra {
  float: left;
  width: 100px;
  margin-top: -5px;
  position: relative;
  height:80px;
}

@media (max-width: 767px) {
  .task-creator .task-extra {
    float: none;
    margin: 0 auto;
  }
}

.task-creator .task-extra .extra {
  float: left;
  cursor: pointer;
}

.task-extra i {
  font-size: 2.1em;
  padding: 5px;
}

.task-extra .icon-bolt, .task-extra .icon-heart{
  color: #eee;
}

.task-extra .level .icon-bolt{
  float: left;
  margin: 0;
  padding: 0 5px;
}

.task-creator .task-extra .icon-heart{
  font-size: 18px;
}

.task-extra .cursor.checked, .task-extra .cursor.hover{
  color: #206587;
}

.task-creator .tip {
  color: #206587;
  font-size: 14px;
  display: block;
  width: 100px;
  float: left;
  margin-left: 5px;
}

.task-creator .satisfaction-tip{
  margin-top: -20px;
}

.task-creator .difficulty-tip{
  clear: left;
}